{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="container index" style="margin-left:10%">
    <div id="bubble2" style="background: #fff3d3">
        <p class="text2">Not everyone can afford buying 3-5 shades of the same product to try out and find out whether it suits our skin tone or not.</p>
    </div>

    <div id="bubble2" style="background: #efd5b5">
        <p class="text2" style="margin-top:35px">This website was created to make a community of beauty lovers to share the different shades of products to help each other save money and save trips to return products that do not suit our skin color.</p>
    </div>

    <div id="bubble2" style="background: #d0baa0">
        <p class="text2">In this website you will be able to attach photos of your products and even give it a little review if you would like to.</p>
    </div>
</div>
{% endblock %}