{% extends "layout.html" %}

{% block title %}
Main Page
{% endblock %}

{% block main %}
<div class="container index">
    <div class="container" id="bubble" style="background: #fff3d3">
    <p class="text1">
        This page has been designed for those who buy makeup online or in drugstore who struggle to figure out if the color matches your skin.
    </p>
    </div>
    <div class="container" id="bubble" style="background: #efd5b5">
    <p class="text1">
        In this page we have copilated pictures of costumers showcasing the shade of the makeup product you want to buy next!
    </p>
    </div>
    <div class="container" id="bubble" style="background: #d0baa0">
    <p class="text1">
        You can also help the community by uploading pictures of the color shade you have for your favorite products.
    </p>
    </div>
    </div>
</div>
{% endblock %}