{% extends "layout.html" %}

{% block title %}
Products
{% endblock %}

{% block main %}
    <form action="/products" method="post" class= "form">
        <div class="mb-3">
            <input type="search" class="form-control mx-auto w-auto" id="search" name="search" autocomplete="off" placeholder="Search Brand">
        </div>
            <button type="submit" class="btn btn-outline-dark centered">Search</button>
    </form>

    <div>
        {% for item in product %}
        <button class="product-button btn btn-light" onclick="location.href='{{ item.redirect }}'"><img class="product" src="{{ item.url }}" alt= "{{ item.product }}"></button>
        {% endfor %}
    </div>
{% endblock %}